.img-details-sizing {
    height: 350px;
    width: auto;
    padding: 5px;
    border: 5px solid #E02E1B;
}

.descriptionBox {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}