.App {
  text-align: center;
  background-color: rgb(224, 46, 27, 0.5);
  margin-bottom: 1.5em;
  padding-top: 0.1em;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.addMovieLink {
  border: 3px dashed rgb(224, 46, 27, 1);
  padding: 0.3em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
